name: ci
on:
  push:
    branches:
      - '!main'
  pull_request:
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      -
        name: Build image
        id: docker_build
        uses: docker/build-push-action@601a80b39c9405e50806ae38af30926f9d957c47 # v6
